<?xml version="1.0" encoding="utf-8" ?>  
<configuration>  
  <startup>   
    <supportedRuntime version="v5.0" sku=".NETFramework,Version=v5.0" />  
  </startup>
  <appSettings>  
    <add key="SqlConnection" value="Server=<SERVER>; Database=<DATABASE>; User Id=<USER>; Password=<PASSWORD>;" />  
  </appSettings>  
</configuration>