@page
@model RazorPagesWebServer.Pages.Prospecto.Crear.BaseModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<partial name="Header" />

<h1>Crear prospecto</h1>
<form method="post">
    <input hidden asp-for="Prospecto.Id" value="0" />

    <div>
    <label for="prospecto-nombre">Nombre:</label>
    <input id="prospecto-nombre" asp-for="Prospecto.Nombre" />
    <span class="error" asp-validation-for="Prospecto.Nombre"></span>
    <br></div>

    <div>
    <label for="prospecto-correo">Correo:</label>
    <input id="prospecto-correo" asp-for="Prospecto.Correo" />
    <span class="error" asp-validation-for="Prospecto.Correo"></span>
    <br></div>

    <div>
    <label for="prospecto-fecha">Fecha:</label>
    <input id="prospecto-fecha" asp-for="Prospecto.Fecha" value="@Model.currentDateTime" />
    <span class="error" asp-validation-for="Prospecto.Fecha"></span>
    <br></div>

    <input type="submit" />
</form>