<head>
<link rel="stylesheet" href="/Style.css">
</head>

<body>
<ul class="top-navbar">
    <li><a href="/Index">Home</a></li>
    <li><a href="/Vacante/Index">Vacantes</a></li>
    <li><a href="/Prospecto/Index">Prospectos</a></li>
    <li><a href="/Entrevista/Index">Entrevistas</a></li>
</ul><br>
</body>